.navbar {
    padding: 10px 20px;
    width: 100%;
    height: 5.5%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    z-index: 1000;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-list a {
    text-decoration: none;
    text-align: center;
    color: rgb(233, 229, 224);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:lighter;
    padding: 8px 20px;
}

.nav-list a:hover {
    color: #908f8f;
    /*color: #555;*/
    transition: 0.3s;
}

.burger-checkbox {
    display: none;
}

.burger {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.burger::before,
.burger::after,
.burger span {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: rgb(233, 229, 224);
    transition: 0.3s;
}

.burger span {
    top: 9px;
}

.burger::before {
    top: 4px;
}

.burger::after {
    bottom: -4px;
}

.burger-checkbox:checked + .burger span {
    opacity: 0;
}

.burger-checkbox:checked + .burger::before {
    transform: rotate(45deg);
    top: 9px;
}

.burger-checkbox:checked + .burger::after {
    transform: rotate(-45deg);
    top: 9px;
}

.burger-checkbox:checked ~ .nav-list {
    display: block;
}

@media (max-width: 784px) {
    .navbar {
        height: 4%;
    }

    .burger {
        display: block;
    }

    .nav-list {
        position: absolute;
        left: 0;
        top: 40px;
        background-color: #333;
        flex-direction: column;
        width: 100%;
        display: none;
        padding: 10px 0px;
    }

    .nav-list li {
        text-align: center;
        padding: 10px 0;
    }

    .burger-checkbox:checked ~ .nav-list {
        display: flex;
    }
}