html {
    background-color: rgb(233, 229, 224);
}

h1, h2 {
    color: #333;
    font-weight: bold;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
    padding-top: 50px;
}

.imgcaption {
    text-align: center;
}

.main p, .main li  {
    color: #333;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

img {
    display: block;
    width: 680px;
    height: 440px;
    margin: 20px auto;
    box-shadow: 5px 5px 10px #555;
}

@media (max-width: 780px) {
    img {
        display: block;
        width: 440px;
        height: 293px;
        margin: 20px auto;
    }
    h1 {
        font-size: 23px;
    }
    h2 {
        font-size: 20px;
    }
    .main p, .main li {
        font-size: 17px;
    }
}

@media (max-width: 480px) {
    img {
        display: block;
        width: 200px;
        height: 147px;
        margin: 20px auto;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 27px;
    }
    .main p, .main li {
        font-size: 14px;
    }
}